@font-face {
    font-family: mukta-font;
    src: url(./fonts/customfont.woff);
  }
@font-face {
    font-family: mukta-font;
    src: url(./fonts/customfont.woff);
  }
  
  // declare a class which applies it
  .my-font-railway {
    font-family: 'mukta-font';
  }

  .my-font {
    font-family: 'mukta-font';
  }